:root {
  --hex-width: 15vw; /* size  */
  --hex-margin: 1px; /* margin */
}

@media (min-width: 500px) {
  :root {
    --hex-width: 65px; /* size  */
    --hex-margin: 1px; /* margin */
  }
}

.hexagon-row {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--hex-margin) - var(--hex-width) * 0.2885);
}

.hexagon-tile {
  width: var(--hex-width);
  margin: var(--hex-margin);
  height: calc(var(--hex-width) * 1.1547);
  font-size: initial; /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
