:root {
  --width: 15vw; /* size  */
  --margin: 1px; /* margin */
}

.hexagon-row {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--margin) - var(--width) * 0.2885);
}

.hexagon-tile {
  width: var(--width);
  margin: var(--margin);
  height: calc(var(--width) * 1.1547);
  font-size: initial; /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
