:root {
  --vt-c-gold: #ffd700;
  --vt-c-burgundy: #800020;
}

:root {
  --color-background: var(--vt-c-burgundy);
  --color-text: var(--vt-c-gold);
}

:root {
  --hex-width: 15vw; /* size  */
  --hex-margin: 1px; /* margin */
}

@media (min-width: 500px) {
  :root {
    --hex-width: 65px; /* size  */
    --hex-margin: 1px; /* margin */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-text);
}

#app {
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.image-reward {
  width: 50px;
}
